@charset "UTF-8";

@if $enable-buttons == true {
    .button {
        @include interact(background,$color-brand-alt);

        display: inline-block;
        padding: 1.3rem 1.8rem;
        border-radius: .5rem;
        background: $color-brand;
        color: #fff;
        text-align: center;
        transition: $transition-duration-base;
        font-family: $font-family-title;

        @at-root a#{&} {
            text-decoration: none;
        }

        &[data-size="large"] {
            @include font(2.4rem,2.4rem);
        }

        &:disabled {
            opacity: .2;
        }

        &--alternative {
            background: $color-base;
        }

        &.button--block {
            display: block;
            width: 100%;
        }
    }
}
