@charset "UTF-8";

.promo-form {
    position: absolute;
    border-radius: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 28rem;
    overflow: hidden;

    @include mq(md) {
    }

    @include mq(lg) {
        top: auto;
        bottom: 5%;
        left: 10%;
        transform: translate(0,0);
        width: 60%;
    }

    > img {
        display: none;
        width: 100%;
        vertical-align: top;

        @include mq(lg) {
            display: block;
        }
    }

    &__form-body {
        @include mq(lg) {
            position: absolute;
            top: 38%;
            right: 9%;
            width: 30%;
        }

        > img {
            width: 100%;
            height: auto;
        }
    }

    &__form {
        @include size(100%);

        position: absolute;
        top: 0;
        left: 0;
        padding: 3rem;

        > button {
            display: block;
            margin: 0 auto;
            border: 0;
            background: transparent;
            box-shadow: none;

            > img {
                width: 100%;
                height: auto;
                vertical-align: top;
            }
        }
    }

    &__input-block {
        position: relative;
        margin-left: 5%;
        margin-right: 5%;

        &:first-child {
            margin-top: 2rem;
        }

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        > img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }

        > input {
            position: absolute;
            top: 0;
            bottom: 0;
            padding: 2rem 3rem 1.4rem;
            width: 100%;
            background: transparent;
            border: 0;
            font-family: $font-family-title;
            outline: none;

        }
    }
}

