@charset "UTF-8";

.promo {
    position: relative;
    min-height: 800px;
    overflow: hidden;

    &__item {
        @include size(100%);

        position: absolute;
        top: 0;
        left: 0;
        background: {
            position: 50% 0;
            size: cover;
            image: url(../img/promo.jpg);
        };
    }

    &__illustration {
        position: absolute;
        bottom: 0;
        z-index: 2;

        > img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }

    #illustration-1 {
        left: 0;

        @include mq(lg) {
            width: 16vw;
        }
    }

    #illustration-2 {
        right: 0;

        @include mq(lg) {
            width: 35vw;
        }
    }

    &__after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        > img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }
}
