@charset "UTF-8";

.section {
    padding: 3.5rem 0;
    background: #fff5e3;

    @include mq(md) {
        padding: 10rem 0;
    }

    @include mq(lg) {
        padding: 12rem 0;
    }

    &[data-bg-alt] {
        background: #fff;
    }

    &__header {
        margin-bottom: 4rem;
        text-align: center;

        @include mq(lg) {
            margin-bottom: 6rem;
        }
    }

    &__footer {
        margin-top: 6rem;
        text-align: center;
    }
}
