@charset "UTF-8";

.subscribe {

    &__list {
        @include font(2.6rem,3.2rem);
        margin-top: 6rem;
        font-family: $font-family-title;

        @include mq(md) {
            @include grid;

            margin: 6rem 0 -3rem;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include mq(lg) {
            margin: 8rem 0 0;
        }

        > li {
            position: relative;
            text-align: center;

            @include mq(sm) {
                &:not(:last-child) {
                    margin-bottom: 4rem;
                }
            }

            @include mq(md) {
                @include grid-col;
                @include col-size(1/3);

                margin-bottom: 3rem;
            }

            @include mq(ms) {
                @include col-size(1/5);

                margin-bottom: 0;
            }


            //&::before {
            //    @include size(10rem);
            //    display: inline-flex;
            //    justify-content: center;
            //    align-items: center;
            //    margin-bottom: 2rem;
            //    border-radius: 50%;
            //    background: $color-brand;
            //    color: #fff;
            //    content: attr(data-number);
            //}

            > img {
                margin-bottom: 3rem;
                width: 100%;
                height: auto;
                vertical-align: top;
            }

            > span {
                position: relative;
                display: block;
            }
        }

    }
}
