.magazine#magazine
    ul.magazine__list

        li
            img(src='img/tridevyatoe___1.png' alt='')
            span Увлекательные задания и развивающие головоломки

        li
            img(src='img/tridevyatoe___2.png' alt='')
            span Каждые две недели - новая сказка

        li
            img(src='img/tridevyatoe___3.png' alt='')
            span Конкурсы для подписчиков с клевыми призами

        li
            img(src='img/tridevyatoe___4.png' alt='')
            span Картинки с дополненной реальностью

        li
            img(src='img/tridevyatoe___5.png' alt='')
            span Игры-ходилки для развлечения всей семьи
