.promo.js-promo#promo
    .promo__item.js-promo-item


    .promo__illustration#illustration-1
        img(src="img/i1.png" alt="")

    .promo__illustration#illustration-2
        img(src="img/palac.png" alt="")

    .promo__after
        img(src="img/screen_second-border.png" alt="")

    .promo-form
        img(src="img/illustration.png" alt="")

        .promo-form__form-body
            img(src="img/canvas.png" alt="")

            .promo-form__form

                .promo-form__input-block
                    img(src="img/input.png" alt="")
                    input(type="email" placeholder="ФИО")

                .promo-form__input-block
                    img(src="img/input.png" alt="")
                    input(type="email" placeholder="e-mail")

                button
                    img(src="img/btn.png")
