.reviews
    .reviews__grid.js-reviews

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Иван Белялетдинов
                p Здравствуйте! Сегодня мой отзыв на заказ Сын попросил написать его для тех детей и мам, которые не знают о его любимом журнале "39 Царство". Обратила я на него внимание в магазине совсем недавно и с тех пор мы с нетерпением ждем новый выпуск. Стоимость номера всего лишь 32 рубля 90 копеек .

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p  Обратила я на него внимание в магазине совсем недавно и с тех пор мы с нетерпением ждем новый выпуск. Стоимость номера всего лишь 32 рубля 90 копеек .

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Здравствуйте! Сегодня мой отзыв на заказ Сын попросил написать его для тех детей и мам, которые не знают о его любимом журнале "39 Царство". Обратила я на него внимание в магазине совсем недавно и с тех пор мы с нетерпением ждем новый выпуск. Стоимость номера всего лишь 32 рубля 90 копеек .

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Покупала сестре на день рождения. Как она была довольна, это не описать словами. Прыгала, визжала: "Ура, ура, мама, будешь теперь мне читать по две сказки на ночь". И ребёнок занят, и маме хорошо, и я любимая сестра.

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Пошли мы с племянником в очередной раз в магазин за нашими любимыми детскими журналами "Ежик" и "Непоседа" и среди кучи журналов с иностранными раскрученными героями мне на глаза попался журнал со сказочным названием "39 царство".

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Здравствуйте! Сегодня мой отзыв на заказ Сын попросил написать его для тех детей и мам, которые не знают о его любимом журнале "39 Царство". Обратила я на него внимание в магазине совсем недавно и с тех пор мы с нетерпением ждем новый выпуск. Стоимость номера всего лишь 32 рубля 90 копеек .

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Ирина Сычева
                p Объясните мне от чего подорожал журнал в два раза? У нас что буквы стали завозить из Европы или для журнала используется древесина девственных лесов Амазонии.

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Пошли мы с племянником в очередной раз в магазин за нашими любимыми детскими журналами "Ежик" и "Непоседа" и среди кучи журналов с иностранными раскрученными героями мне на глаза попался журнал со сказочным названием "39 царство".

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Здравствуйте! Сегодня мой отзыв на заказ Сын попросил написать его для тех детей и мам, которые не знают о его любимом журнале "39 Царство". Обратила я на него внимание в магазине совсем недавно и с тех пор мы с нетерпением ждем новый выпуск. Стоимость номера всего лишь 32 рубля 90 копеек .

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p  Обратила я на него внимание в магазине совсем недавно и с тех пор мы с нетерпением ждем новый выпуск. Стоимость номера всего лишь 32 рубля 90 копеек .

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Здравствуйте! Сегодня мой отзыв на заказ Сын попросил написать его для тех детей и мам, которые не знают о его любимом журнале "39 Царство". Обратила я на него внимание в магазине совсем недавно и с тех пор мы с нетерпением ждем новый выпуск. Стоимость номера всего лишь 32 рубля 90 копеек .

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Покупала сестре на день рождения. Как она была довольна, это не описать словами. Прыгала, визжала: "Ура, ура, мама, будешь теперь мне читать по две сказки на ночь". И ребёнок занят, и маме хорошо, и я любимая сестра.

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Пошли мы с племянником в очередной раз в магазин за нашими любимыми детскими журналами "Ежик" и "Непоседа" и среди кучи журналов с иностранными раскрученными героями мне на глаза попался журнал со сказочным названием "39 царство".

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Здравствуйте! Сегодня мой отзыв на заказ Сын попросил написать его для тех детей и мам, которые не знают о его любимом журнале "39 Царство". Обратила я на него внимание в магазине совсем недавно и с тех пор мы с нетерпением ждем новый выпуск. Стоимость номера всего лишь 32 рубля 90 копеек .

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Ирина Сычева
                p Объясните мне от чего подорожал журнал в два раза? У нас что буквы стали завозить из Европы или для журнала используется древесина девственных лесов Амазонии.

        .reviews__col
            article
                header.reviews__user
                    .reviews__user-photo
                        img(src="img/photo.jpg" alt="name author")
                    h6 Дарья Иванова
                p Пошли мы с племянником в очередной раз в магазин за нашими любимыми детскими журналами "Ежик" и "Непоседа" и среди кучи журналов с иностранными раскрученными героями мне на глаза попался журнал со сказочным названием "39 царство".
