header.site-header
    .site-header__grid
        a.site-header__logo
            img(src="img/logo.png" alt="Царство-дети")
        nav.site-header__navigate
            ul

                li
                    a(href='#') Персонажи

                li
                    a(href='#') Подписка

                li
                    a(href='#') Отзывы
