ul.social-links

    li

        a(href="" targe="_blank")
            i.mdi.mdi-vk

    li

        a(href="" targe="_blank")
            i.mdi.mdi-odnoklassniki

    li

        a(href="" targe="_blank")
            i.mdi.mdi-instagram

    li

        a(href="" targe="_blank")
            i.mdi.mdi-facebook
