.subscribe
    ul.subscribe__list
        li(data-number="1")
            span Не нужно искать журнал в&nbsp;магазинах
        li(data-number="2")
            span Доставка до&nbsp;почтового ящика
        li(data-number="3")
            span Дешевле чем в магазине
        li(data-number="4")
            span Бесплатная доставка 2&nbsp;раза в месяц
