extends layouts/application

block title
    title Index

block main
    .promo.js-promo
        .promo__item.js-promo-item


        .promo__illustration#illustration-1
            img(src="img/i1.png" alt="")

        .promo__illustration#illustration-2
            img(src="img/palac.png" alt="")

        .promo__after
            img(src="img/screen_second-border.png" alt="")

        .promo-form
            .promo-form__grid
                .promo-form__jornal
                    img(src="img/jornal.jpg")

                .promo-form__form-box

                    h1 Специальное предложение!
                    p Подпишитесь прямо сейчас и получите первый журнал бесплатно

                    form
                        .input
                            input(type="text" placeholder="Имя")

                        .input.input--invalid(data-error="Заполните поле")
                            input(type="email" placeholder="Почта")

                        .input
                            button.button.button--alternative.button--block Оформить подписку


    .section
        .container
            .heroes-slider

                .heroes-slider__box.js-heroes-slider

                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char1_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char2_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char3_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char4_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char5_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char6_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char7_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char9_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char10_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char11_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char12_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char13_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char14_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char15_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char16_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.

            .heroes-slider-nav.js-heroes-slider-nav

                .heroes-slider-nav__item
                    img(src="img/heroes/char1.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char2.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char3.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char4.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char5.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char6.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char7.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char9.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char10.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char11.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char12.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char13.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char14.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char15.png" alt="")
                .heroes-slider-nav__item
                    img(src="img/heroes/char16.png" alt="")



