extends layouts/application

block title
    title Index

block main
    .promo.js-promo
        .promo__item.js-promo-item


        .promo__illustration#illustration-1
            img(src="img/i1.png" alt="")

        .promo__illustration#illustration-2
            img(src="img/palac.png" alt="")

        .promo__after
            img(src="img/screen_second-border.png" alt="")

        .promo-form
            .promo-form__grid
                .promo-form__jornal
                    img(src="img/jornal.jpg")

                .promo-form__form-box

                    h1 Специальное предложение!
                    p Подпишитесь прямо сейчас и получите первый журнал бесплатно

                    form
                        .input
                            input(type="text" placeholder="Имя")

                        .input.input--invalid(data-error="Заполните поле")
                            input(type="email" placeholder="Почта")

                        .input
                            button.button.button--alternative.button--block Оформить подписку


    .section
        .container
            .section__header
                h2 Персонажи
            .heroes-slider
                .heroes-slider__box.js-heroes-slider

                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char1_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char2_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Царь
                            p Cамый главный в 3/9 Царстве. Правит, руководит и командует (ну, на то он и Царь). Любит перенимать опыт других государств, отдавать приказы о благоустройстве 3/9 царства и выбирать портреты родственников для генеалогического древа своей семьи, корнями уходящего в род Царя Гороха.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char3_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Лихо
                            p Верный слуга Кощея. У него доброе сердце, всего один глаз и обострённое чувство вежливости. Крайне приветливое и милое даже по отношению к незнакомым людям. В замке Кощея Лихо выполняет всю работу по дому и печёт очень вкусные


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char4_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Данила-мастер
                            p Сообразительный Данила-мастер может сделать что угодно — хоть скрипку, хоть телефон, хоть робота. И хотя Данила частенько подшучивает над Иваном, на самом деле они друзья не разлей вода. Даниле никогда не бывает скучно, ведь он постоянно занят делом: что-то мастерит или изобретает. Благодаря инженерной мысли Данилы-мастера жители 3/9 царства даже побывали в космосе!


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char5_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Бабай
                            p Безобидный и безопасный злодей. Руководит Чёрным воинством и играет в паровозики.



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char6_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Василиса
                            p Звание первой умницы Тридевятого царства и других окрестных государств принадлежит Василисе. Сложно найти вопрос, на который у Василисы не было бы ответа. А всё потому, что она не расстаётся с книгами! С Василисой советуется даже сам Царь, и в каждом номере нашего журнала она делится своими премудростями с маленькими читателями.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char7_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Баба Яга
                            p А за дельным житейским советом наши герои обращаются к Бабе Яге. Ведь за пять веков своей жизни она набралась мудрости и опыта. И никому она не откажет в помощи!



                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char9_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кикимора
                            p Давняя подруга Лешего. Умница, красавица, модница, интересный собеседник. Выращивает на своём болоте клюкву, таким образом, обеспечивает всё 3/9 Царство знатным десертом — клюквой в сахаре.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char10_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Змей Горыныч
                            p Один из лучших друзей наших героев — Змей Горыныч. Как же они могли подружиться? Горыныч же такой большой, страшный и огнедышащий! Но мы ведь знаем, что внешность не главное. На самом деле Горыныч очень добрый, верный друг и вообще вегетарианец. У него даже есть свой огород, на котором он выращивает капусту и морковку. Наши герои подружились со Змеем тогда, когда однажды Кощей украл Забаву, и Даниле, Василисе и Ивану пришлось её спасать.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char11_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Водяной
                            p Живёт в пруду с целым полчищем лягушек. У него много водных колесниц, на которых он с удовольствием катает всех желающих. Спокойный, добрый и не очень разговорчивый: всё время словно воды в рот набрал.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char12_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кот ученый
                            p А Кот Учёный Семён Семёныч во всём помогает Бабе Яге. Он умен, любознателен и считает, что лучшим средством от всего на свете является сметана. По пятницам Кот Учёный работает на Зелёном дубе в Лукоморье: идёт направо — песнь заводит, налево — сказку говорит. Кота любят и уважают не только в 3/9 царстве, но и далеко за его пределами.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char13_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Илья Муромец
                            p Главный богатырь 3/9 Царства, с которого Иван берёт пример. Смелый, отважный, добрый, справедливый.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char14_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Забава
                            p С весёлой хохотушкой Забавой точно не заскучаешь! Никто, кроме неё, не знает столько интересных игр и конкурсов. Забаву всегда окружает множество друзей, она общительная и заводная. А ещё очень трудолюбивая! Только Забава умеет приготовить правильный борщ, настоящую кулебяку и самые круглые в мире калачи.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char15_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Юный богатырь Иван
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.


                    .heroes-slider__item
                        .heroes-slider__item-image
                            img(src="img/heroes/char16_photo.png" alt="")
                        .heroes-slider__item-content.wysiwyg
                            h4 Кощей
                            p Надежда и опора Тридевятого царства. Он не особо охоч до всякого рода работы, зато в его жизни всегда есть место подвигу! Это самый храбрый, отважный и местами даже безрассудный человек в царстве, он горой стоит за своих друзей и всегда готов стать на страже утраченной справедливости. Иван — единственный человек в царстве, кто рад встрече с опасностью, ибо в каждой неприятности он видит возможность свершения очередного подвига.

            .heroes-slider-nav.js-heroes-slider-nav

                .heroes-slider-nav__item
                    img(src="img/heroes/char1.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char2.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char3.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char4.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char5.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char6.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char7.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char9.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char10.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char11.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char12.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char13.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char14.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char15.png" alt="")

                .heroes-slider-nav__item
                    img(src="img/heroes/char16.png" alt="")
