extends layouts/application

block title
    title Index

block main
    include components/_promo

    .section#heroes
        .container
            .section__header
                h2 Персонажи
            include components/_heroes


    .section#magazine(data-bg-alt)
        .container
            .section__header
                h2 Преимущества журнала:

            include components/_magazine

            .section__footer.js-navigate
                a.button.button--alternative(href="#promo" data-size="large") Подписаться


    .section#subscribe(data-bg-alt)
        .container
            .section__header
                h2 Преимущества подписки:

            include components/_subscribe

            .section__footer.js-navigate
                a.button.button--alternative(href="#promo" data-size="large") Подписаться


    .section#reviews
        .container
            .section__header
                h2 Отзывы о журнале
            include components/_reviews

            .section__footer
                a.button.button--alternative(href="#" data-size="large") Оставить отзыв
