extends layouts/application

block title
    title Index

block main
    .promo.js-promo
        .promo__item.js-promo-item
        .promo__after
            img(src="img/screen_second-border.png" alt="")


        .promo__illustration#illustration-1
            img(src="img/i1.png")
        .promo__illustration#illustration-2
            img(src="img/palac.png")
